/* Reset css */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of reset css */


/*
* Noto Sans TC (Chinese_traditional) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf) format('opentype');
}
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 400;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 500;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 700;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 900;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.otf) format('opentype');
 }
 /* End of font-family import*/

/* our css */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Noto Sans TC' , "微軟正黑體",  sans-serif !important;
}

a, a:hover {
	color: inherit;
	text-decoration: none;
}

button {
	outline: none;
}

/*.container {
	width: 100%;
	max-width: 1188px;
	margin: auto;
}*/

body > header {
	background: #2b2b2b;
	color: white;
	font-size: 18px;
	height: 80px;
	font-weight: 100;

	display: -webkit-flex;
	display:         flex;
	-webkit-align-items: center;
			align-items: center;
	-webkit-justify-content: center;
			justify-content: center;
}

body > header .logo {
	display: inline-block;
	width: 60px;
	height: 60px;
	vertical-align: middle;
}

body > header ul {
	display: inline-block;
	list-style: none;
	vertical-align: middle;
	margin-left: 18px;
}

body > header li {
	display: inline-block;
	text-decoration: none;
	width: 84px;
}

body > header li a {
	transition: opacity 0.3s;
	opacity: 1;
}

body > header li a:hover {
	opacity: 0.75;
}

body > footer {
	font-size: 14px;
	height: 66px;
	line-height: 66px;
	margin-top: 120px;
}

body > footer > div {
	color: #888;
	border-top: 1px solid #ccc;
}

.main {
	/*min-height: 1500px;*/
}

.landingPage img.introduceBackground{
	position: absolute;
    z-index: -100;
    top: -80px;
}

.landingPage .introduce {
	background: black url(../image/introduce.jpg);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
	color: white;
	text-align: center;
	font-size: 20px;
	padding: 156px 0 150px;
}

.landingPage .introduce h1 {
	font-size: 140px;
	margin-bottom: 70px;
	font-weight: 600;
}

.landingPage .introduce p {
	max-width: 852px;
	margin: auto;
	line-height: 30px;
	font-weight: 200;
}

.landingPage .recognizeTheater {
	padding: 62px 0;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	background-color: #fafafa;
}

.landingPage .recognizeTheater h1 {
	font-size: 48px;
	margin-bottom: 40px;
}

.landingPage .recognizeTheater p {
	margin: auto;
	font-weight: 200;
}

.landingPage .recentShowAndFanPage {
	margin-top: 62px;
}

.landingPage .recentShow {
	height: 400px;
}

.landingPage .recentShow header {
	font-size: 36px;
	padding: 18px;
	border-bottom: 1px solid #ccc;
}

.landingPage .recentShow img{
	position: absolute;
	z-index: -100;
}

.landingPage .recentShowDetail {
	margin-top: 15px;
    text-shadow: 0 0 7px rgba(0,0,0,0.8);
}

.membersPage .bigPicture {
	width: 100%;
	height: 318px;
	background: #000 url(../image/members_big_picture.jpg);
    background-size: inherit;
    background-position: center;
    background-repeat: no-repeat;
}

.membersPage .team {
	margin-top: 45px;
	background: #eee;
	padding-bottom: 23px;
}

.membersPage .team header {
	font-size: 48px;
	padding: 23px;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	font-weight: 800;
}

.membersPage .member {
	width: 158px;
	height: 246px;
	padding: 5px 5px;
}

.membersPage .member .imageWrapper {
	width: 100%;
	height: 168px;
	margin-top: 10px;
	overflow: hidden;
}

.membersPage .member .imageWrapper img {
	width: 100%;
}

.membersPage .member .name {
	margin-top: 11px;
	font-size: 18px;
	font-weight: 600;
	color: #111;
}

.membersPage .member .title {
	margin-top: 7px;
	font-size: 14px;
	font-weight: 100;
}

.recentShowPage {
	padding-top: 36px;
}

.recentShowPage button {
	height: 43px;
	background: #86C166;
	color: white;
	font-family: 'Noto Sans TC' , "微軟正黑體",  sans-serif !important;
	font-weight: 500;
	border: 0;
	border-radius: 5px;
	transition: background-color 0.3s;
}

.recentShowPage button:hover {
	background: #6fa054;
}

.recentShowPage button:active {
	background: #65944b;
}

.recentShowPage .information {
	overflow: auto;
	margin-bottom: 20px;
}

.recentShowPage .information h1 {
	font-size: 72px;
	font-weight: lighter;
}

.recentShowPage .information .timeAndLocation {
	font-size: 24px;
	font-weight: lighter;
	margin: 20px 0;
}

.recentShowPage .information p {
	font-size: 18px;
	line-height: 2;
	font-weight: lighter;
	margin-bottom: 14px;
}

.recentShowPage .information button {
	font-size: 18px;
	margin-top: 25px;
	padding: 0 15px;
	/*float: right;*/
}

@media (max-width: 768px) {
	.recentShowPage .information button {
		width: 100%;
	}
}

.recentShowPage .details {
	border: 1px solid #eee;
}

.recentShowPage .details > header {
	background: #4A593D;
	color: white;
	padding: 18px 12px;
	font-size: 20px;
	font-weight: lighter;
}

.recentShowPage .details > div {
	padding: 15px;
}

.recentShowPage .details h3 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 12px;
}

.recentShowPage .details p {
	font-size: 18px;
	font-weight: lighter;
}

.recentShowPage .details hr {
    border-top: #ccc 1px solid;
    border-bottom: 0px;
    margin: 14px 0;
}

.recentShowPage .details button {
	font-size: 18px;
	width: 100%;
}

.pastShowsPage .shows {
	margin-top: 36px;
}

.pastShowsPage .shows > div {
	padding: 70px 0;
}

.pastShowsPage .shows > div img{
    position: absolute;
    z-index: -100;    
	background-blend-mode: multiply;
}

.show {
	text-align: center;
	padding: 48px 0;
	color: white;
	position: relative;
	background-position: left bottom;
	background-size: cover;
	background-repeat: no-repeat;
}

.show > * {
	position: relative;
}

.show::before{
	content: '';
	display: block;
	background: -webkit-linear-gradient(rgba(43,43,43,0),rgba(43,43,43,1));
	background: -o-linear-gradient(rgba(43,43,43,0),rgba(43,43,43,1));
	background: -moz-linear-gradient(rgba(43,43,43,0),rgba(43,43,43,1));
	background: linear-gradient(rgba(43,43,43,0),rgba(43,43,43,1));
    position: absolute;
	mix-blend-mode: multiply;
	width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: opacity 0.5s;
}

.show:hover::before{
	opacity: 0;
}

.show .date {
	font-size: 24px;
	padding: 0 30px;
	border-bottom: 2px solid white;
}

.show .title {
	margin-top: 35px;
	font-size: 48px;
}

.show .location {
	margin-top: 20px;
	font-size: 18px;
}

.pastShowPhotosPage .show {
    padding: 80px 0;
}

.pastShowPhotosPage .show::before{
	display: none;
}

.pastShowPhotosPage .photos {
	margin-top: 32px;
}

.pastShowPhotosPage .photo {
	cursor: pointer;
	position: relative;
	width: 100%;
	height: 168px;
	overflow: hidden;
	background-size: cover;
	margin-bottom: 36px;
}

.pastShowPhotosPage .photo img {
	width: 100%;
}

.pastShowPhotosPage .photo::before{
	content: '';
	display: block;
	/*background: -webkit-linear-gradient(rgba(43,43,43,0),rgba(43,43,43,1));
	background: -o-linear-gradient(rgba(43,43,43,0),rgba(43,43,43,1));
	background: -moz-linear-gradient(rgba(43,43,43,0),rgba(43,43,43,1));
	background: linear-gradient(rgba(43,43,43,0),rgba(43,43,43,1));*/
	background: black;
    position: absolute;
	mix-blend-mode: multiply;
	width: 100%;
    height: 100%;
    top: 0;
    left: 0;
	opacity: 0.25;
    transition: opacity 0.5s;
}

.pastShowPhotosPage .photo:hover::before{
	opacity: 0;
}
